{% extends "layout_unbranded.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set mainClasses = "govuk-main-wrapper--l no-breadcrumbs" %}

{% block pageTitle %}
  High fines policy (avoidance) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
  homepageUrl: "#"
}) }}

{% endblock %}

{# {% block beforeContent %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: [
    {
      text: "Home",
      href: "/index.html"
    },
    {
      text: "Trustees",
      href: "#"
    },
    {
      text: "Understanding your role",
      href: '#'
    }
  ]
}) }}

{% endblock %} #}

{% block content %}
  <div class="govuk-grid-row">
    <div class="pageTitleContainer">
      <h1 id="bott-mar" class="govuk-heading-l">
        High fines policy (avoidance)
      </h1>
    </div>

    {# =============== START GOV.UK's DesSys L-H Menu =============== #}

    <div class="app-split-pane__nav govuk-grid-column-one-third">
      <nav class="app-subnav" aria-labelledby="app-subnav-heading">

        <ul class="app-subnav__section">

          <li class="app-subnav-heading">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Regulatory and enforcement policies</a>

          </li>

          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Automatic enrolment compliance and enforcement</a>

          </li>

          <li class="app-subnav__section-item has-children arrow-down" >
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Scheme management enforcement policy</a>

          </li>

          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Master trust supervision and enforcement policy</a>

          </li>

          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Monetary penalties policy</a>

          </li>

          <li class="app-subnav__section-item app-subnav__section-item--current arrow-down">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="">High fines policy avoidance</a>

            {# <ul class="app-subnav__section app-subnav__section--nested">

              <li class="app-subnav__section-item">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/#font">
                        High fines policy information requirements
                      </a>
              </li>

              <li class="app-subnav__section-item">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/#headings">
                        Headings
                      </a>
              </li>

              <li class="app-subnav__section-item">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/#paragraphs">
                        Paragraphs
                      </a>
              </li>

              <li class="app-subnav__section-item">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/#text-alignment-override-classes">
                        Text alignment override classes
                      </a>
              </li>

              <li class="app-subnav__section-item">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/#font-override-classes">
                        Font override classes
                      </a>
              </li>

              <li class="app-subnav__section-item">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/#links">
                        Links
                      </a>
              </li>

              <li class="app-subnav__section-item">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/#lists">
                        Lists
                      </a>
              </li>

              <li class="app-subnav__section-item">
                <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/styles/typography/#section-break">
                        Section break
                      </a>
              </li>

            </ul> #}

          </li>

          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">High fines policy information requirements</a>

          </li>

          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Prosecution policy</a>

          </li>

          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Criminal offences policy</a>

          </li>

          <li class="app-subnav__section-item has-children arrow-down">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Enforcement procedures</a>

          </li>

          <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">How we publish information about cases</a>

          </li>

        </ul>

      </nav>

    </div>

    {# =============== END GOV.UK's DesSys L-H Menu =============== #}

    {# =============== START TPR's L-H Menu =============== #}

    {# <aside class="left-column govuk-grid-column-one-third">

      <nav class="acnav" role="navigation">
        <h2 class="acnav__label">
          <a href="/en/document-library/regulatory-and-enforcement-policies">Regulatory and enforcement policies</a>
        </h2>
        <button id="single-code-menu-toggler" class="collapsed" data-toggle="collapse" data-target="#single-code-list-items" aria-expanded="false" aria-controls="single-code-list-items" role="button">
        Regulatory and enforcement policies
    </button>
        <ul class="acnav__list acnav__list--level0" id="single-code-list-items">
          <li class="acnav overview">
            <a href="/en/document-library/regulatory-and-enforcement-policies">Code of practice overview</a>
          </li>
          <li class="has-children is-open root">
            <ul class="acnav__list acnav__list--level1 collapse" aria-labelledby="single-code-menu-toggler">
              <li class="no-children">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/automatic-enrolment-compliance-and-enforcement">Automatic enrolment compliance and enforcement</a>
                </div>

              </li>
              <li class="has-children arrow-down">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy">Scheme management enforcement policy</a>
                </div>

                <ul class="acnav__list acnav__list--level2">
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/introduction">
                                                        Introduction
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/assessment-of-risk-and-harm">
                                                        Assessment of risk and harm
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="has-children arrow-down">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/investigations">
                                                        Investigations
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3">
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/investigations/our-approach-to-investigations">
                                                                    Our approach to investigations
                                                                </a>
                      </li>
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/investigations/information-gathering">
                                                                    Information gathering
                                                                </a>
                      </li>
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/investigations/non-compliance-with-our-information-gathering-powers">
                                                                    Non compliance with our information gathering powers
                                                                </a>
                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/using-our-enforcement-powers">
                                                        Using our enforcement powers
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="has-children arrow-down">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-outcomes">
                                                        Enforcement outcomes
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3">
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-outcomes/enforcement-outcomes-overview">
                                                                    Enforcement outcomes overview
                                                                </a>
                      </li>
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-outcomes/prevention">
                                                                    Prevention
                                                                </a>
                      </li>
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-outcomes/remedy">
                                                                    Remedy
                                                                </a>
                      </li>
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-outcomes/restoration">
                                                                    Restoration
                                                                </a>
                      </li>
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-outcomes/deterrence">
                                                                    Deterrence
                                                                </a>
                      </li>
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-outcomes/settlement">
                                                                    Settlement
                                                                </a>
                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-options">
                                                        Enforcement options
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="has-children arrow-down">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/overlapping-powers">
                                                        Overlapping powers
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3">
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/overlapping-powers/overlapping-powers-our-approach">
                                                                    Overlapping powers our approach
                                                                </a>
                      </li>
                      <li>
                        <a class="acnav__link acnav__link--level3 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/overlapping-powers/overlapping-powers-case-examples">
                                                                    Overlapping powers case examples
                                                                </a>
                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/enforcement-procedures">
                                                        Enforcement procedures
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/challenging-enforcement-action">
                                                        Challenging enforcement action
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/debt-recovery">
                                                        Debt recovery
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/measuring-impact">
                                                        Measuring impact
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/scheme-management-enforcement-policy/publication">
                                                        Publication
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                </ul>
              </li>
              <li class="no-children">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/master-trust-supervision-and-enforcement-policy">Master trust supervision and enforcement policy</a>
                </div>

              </li>
              <li class="no-children">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/monetary-penalties-policy">Monetary penalties policy</a>
                </div>

              </li>
              <li class="no-children">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 active" href="/en/document-library/regulatory-and-enforcement-policies/high-fines-policy-avoidance">High fines policy avoidance</a>
                </div>

              </li>
              <li class="no-children">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/high-fines-policy-information-requirements">High fines policy information requirements</a>
                </div>

              </li>
              <li class="no-children">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/prosecution-policy">Prosecution policy</a>
                </div>

              </li>
              <li class="no-children">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/criminal-offences-policy">Criminal offences policy</a>
                </div>

              </li>
              <li class="has-children arrow-down">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/enforcement-procedures">Enforcement procedures</a>
                </div>

                <ul class="acnav__list acnav__list--level2">
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/enforcement-procedures/case-team-procedure">
                                                        Case team procedure
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/enforcement-procedures/determinations-panel-procedure">
                                                        Determinations Panel procedure
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                  <li class="">
                    <div class="acnav__label acnav__label--level2">
                      <a class="acnav__link acnav__link--level2 " href="/en/document-library/regulatory-and-enforcement-policies/enforcement-procedures/staff-determinations-procedure">
                                                        Staff determinations procedure
                                                    </a>
                    </div>

                    <ul class="acnav__list acnav__list--level3"></ul>
                  </li>
                </ul>
              </li>
              <li class="no-children">
                <div class="acnav__label acnav__label--level1">
                  <a class="acnav__link acnav__link--level1 " href="/en/document-library/regulatory-and-enforcement-policies/how-we-publish-information-about-cases">How we publish information about cases</a>
                </div>

              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <script>
        document.addEventListener('DOMContentLoaded', function () {
          hideBreadcrumbs();
          $(window).resize(function () {
            showDesktopNavigation();
          });
        }, false);
      </script>

    </aside> #}

    {# =============== END TPR's L-H Menu =============== #}

    <div class="govuk-grid-column-two-thirds r-h-main-content">
      <section class="anchorlocation" id="intro-para">

        <div class="standardinformation">
          <p>This policy provides guidance on our approach to avoidance, dealing with avoidance-type penalties and failure to pay a contribution notice issued under section 38 of the Pensions Act 2004.</p>

          <p>Published: 4 May 2022</p>

        </div>
      </section>

      <section class="anchorlocation contentbreak after-intro-para" id="when-this-policy-applies">
        <h2 class="govuk-heading-m">When this policy applies</h2>

        <div class="standardinformation">
          <ol class="govuk-list govuk-list--number">
            <li>We have the power under s88A of the Pensions Act 2004 to impose a financial penalty not exceeding £1 million if a person has committed an act (which includes a failure to act) to which this section applies.</li>

            <li>A financial penalty under s88A is discretionary and the decision whether to impose a penalty, and if so the amount of the penalty, is reserved to the <a href="">Determinations Panel</a>.</li>

            <li>We also have the power to impose other discretionary and mandatory penalties, and our approach to these penalties is set out in our <a href="">monetary penalties policy</a>.</li>

            <li>The following sections of the monetary penalties policy are relevant to this policy and will be taken into account when we are considering imposing a penalty under s88A of the Pensions Act 2004:<br>

              <ul class="govuk-list govuk-list--bullet">
                <li>Bodies corporate, Scottish partnerships and individual officers</li>

                <li>Restriction on use of scheme assets to provide indemnification for certain penalties</li>

                <li>Procedure</li>

                <li>Hardship</li>
              </ul>
            </li>

            <li>This policy specifically applies where a person:<br>

              <ol class="govuk-list govuk-list--number lower-alpha">
                <li>has failed, without reasonable excuse, to pay a debt due by virtue of a contribution notice (CN) issued under s38 of the Pensions Act 2004 (s42B(2) of the Pensions Act 2004)</li>

                <li>was party to an act or deliberate failure to act which:<br>

                  <ol class="govuk-list govuk-list--number lower-roman">
                    <li>had a main purpose of avoiding an employer debt to a pension scheme (s58C(2) of the Pensions Act 2004) or</li>

                    <li>had a materially detrimental effect on the likelihood of accrued scheme benefits being received, and the person knew or ought to have known that their act or failure would have that effect (s58D(2) of the Pensions Act 2004),</li>
                  </ol>

                and where, in the case of both b.i. and b.ii., it was not reasonable for the person to act or fail to act in the way they did.</li>
              </ol>
            </li>

            <li>We also have the power to issue a high fine in other circumstances that are not covered by this policy. These apply where a person:<br>

              <ol class="govuk-list govuk-list--number lower-alpha">
                <li>has failed, without reasonable excuse, to comply with the requirements of the <a href="">Notifiable Events</a>&nbsp;regime (ss69(7), 69(8) and 69A(13) of the Pensions Act 2004),</li>

                <li>has knowingly or recklessly provided false or misleading information to us (s80A(1) of the Pensions Act 2004), or</li>

                <li>has knowingly or recklessly provided false or misleading information to trustees in particular circumstances (s80B(2) of the Pensions Act 2004)</li>
              </ol>

              <p>For information on how we approach these penalties, please see <a href="">high fines policy (information requirements)</a>.</p>
            </li>

            <li>S88A to 88C of the Pensions Act 2004 set out the conditions, processes and procedures that apply to these penalties, and their recovery in the event they are unpaid. Please read our <a href="">enforcement policy</a>&nbsp;for more information.</li>

            <li>We cannot impose a financial penalty on a person:<br>

              <ol class="govuk-list govuk-list--number lower-alpha">
                <li>if a penalty notice has been issued to them under s10 of the Pensions Act 1995 in respect of the same act</li>

                <li>if they have been convicted of an offence in respect of the same act or where criminal proceedings have been commenced but not concluded against them in respect of the same act</li>

                <li>in the case of a corporate body, where a penalty is also imposed in respect of the same act upon an individual of that corporate body, on the basis of that individual’s consent or connivance in respect of that act</li>
              </ol>
            </li>

            <li>The maximum financial penalty that may be issued is the same, regardless of whether the person being fined is an individual or a company.</li>

            <li>We may have the option to pursue a criminal prosecution in respect of an act that could be caught by the financial penalties listed above. For more information about our approach when we have such a choice, please read the <a href="">overlapping powers section of our enforcement policy</a>.</li>
          </ol>

        </div>
      </section>

      <section class="anchorlocation contentbreak" id="penalty-amount-our-approach">
        <h2 class="govuk-heading-m">The penalty amount - our approach</h2>

        <div class="standardinformation">
          <ol class="govuk-list govuk-list--number"  start="11">
            <li>Any decision to seek to impose a penalty will be reached in line with the approach set out in our <a href="">enforcement policy</a>.</li>
          </ol>

          <h3>Non-payment of a CN issued under s38 PA04</h3>

          <ol class="govuk-list govuk-list--number"  start="12">
            <li>The deadline for the payment of a CN will be specified in the notice itself. A penalty may only be sought once this deadline has expired.</li>

            <li>The amount of the penalty will be directly linked to the amount ordered to be paid by the CN.</li>

            <li>Subject to point 15 below, the penalty value will be fixed at 20% of the CN value, capped at £1million.</li>

            <li>If payment of the CN is received before the commencement of the Determinations Panel’s hearing to consider the imposition of a penalty, the amount of any penalty they issue will be reduced to 10% of the CN value, capped at £0.5million.</li>

            <li>For example:<br>

              <ol class="govuk-list govuk-list--number lower-alpha">
                <li>In the case of non-payment of a CN of £4million, the amount of any penalty imposed by the Determinations Panel in respect of that non-payment will be:<br>

                  <ol class="govuk-list govuk-list--number lower-roman">
                    <li>£0.8million if the CN remains unpaid at the date of commencement of the Panel’s hearing (ie 20% of £4million), or</li>
                    <li>£0.4million if the CN is paid before the date of commencement of the Panel’s hearing (ie 10% of £4million)</li>
                  </ol>
                </li>

                <li>In the case of non-payment of a CN of £203million, the amount of any penalty imposed by the Determinations Panel in respect of that non-payment will be:<br>

                  <ol class="govuk-list govuk-list--number lower-roman">
                    <li>£1million if the CN remains unpaid at the date of commencement of the Panel’s hearing (ie 20% of £203million, so £40.6million, but capped at £1million), or </li>

                    <li>£0.5million if the CN is paid before the date of commencement of the Panel’s hearing (ie 10% of £203million, so £20.3million, but capped at £0.5million)</li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </section>

      <section class="anchorlocation contentbreak" id="avoidance-of-employer-debt">
        <h2 class="govuk-heading-m">Avoidance of employer debt or conduct risking accrued scheme benefits</h2>
        <div class="standardinformation">

          <ol class="govuk-list govuk-list--number" start="17">

            <li>Where we decide to impose a financial penalty on either of these bases, we expect to calculate the penalty amount in accordance with the following framework.</li>

            <li>The calculation of the penalty, and the amount arrived at, will depend on:<br>
              <p>
                <strong>Step 1:</strong> assessment of the applicable band level, which depends on the person’s level of culpability and the harm caused to the scheme and/or member outcomes, and</p>
              <p>
                <strong>Step 2:</strong>&nbsp;assessment of any aggravating and mitigating features.</p>
            </li>
          </ol>
        </div>
      </section>

      <section class="anchorlocation contentbreak" id="step-1-band-level-culpability-and-harm">
        <h2 class="govuk-heading-m">Step 1: Band level culpability and harm</h2>
        <div class="standardinformation">
          <ol class="govuk-list govuk-list--number" start="19">
            <li>When determining the band level for a particular penalty we will take account of:<br>
              <ul class="govuk-list govuk-list--bullet">
                <li>the level of culpability of the person concerned, and</li>
                <li>the degree of harm to the scheme and / or member outcomes as a result of the act</li>
              </ul>
            </li>
            <li>As some degree of culpability or harm is an integral feature of these penalties, we do not generally expect to issue a penalty of less than £100,000.</li>
            <li>The table below shows the range of the penalty amount that corresponds to each band level:<br>

              {% from "govuk/components/table/macro.njk" import govukTable %}

              {{ govukTable({
                firstCellIsHeader: false,
                head: [
                  {
                    text: "Band",
                    colspan: 2
                  },
                  {
                    text: "Penalty banding"
                  }
                ],
                rows: [
                  [
                    {
                      text: "Band HF1",
                      classes: "govuk-!-width-one-third"
                    },
                    {
                      text: "Lower culpability / Lower harm",
                      classes: "govuk-!-width-one-third"
                    },
                    {
                      text: "£100,000 to £400,000",
                      classes: "govuk-!-width-one-third"
                    }
                  ],
                  [
                    {
                      text: "Band HF2",
                      classes: "govuk-!-width-one-third"
                    },
                    {
                      html: "Higher culpability / Lower harm<br>
                      or<br>
                      Lower culpability / Higher harm",
                      classes: "govuk-!-width-one-third"
                    },
                    {
                      text: "£250,000 to £650,000",
                      classes: "govuk-!-width-one-third"
                    }
                  ],
                  [
                    {
                      text: "Band HF3",
                      classes: "govuk-!-width-one-third"
                    },
                    {
                      text: "Higher culpability / Higher harm",
                      classes: "govuk-!-width-one-third"
                    },
                    {
                      text: "£400,000 to £1 million",
                      classes: "govuk-!-width-one-third"
                    }
                  ]
                ]
              }) }}

            </li>
            <li>We will consider evidence of any features of culpability and harm, on the facts (examples of which are listed below), and their severity (individually and collectively), when determining the band for the penalty.</li>
            <li>Examples of features of culpability include:<br>
              <ul class="govuk-list govuk-list--bullet">
                <li>deliberate act or failure and / or causing or encouraging another person to act or fail to act</li>
                <li>recklessness or negligence, including disregard of risks or lack of care, whether based on actual foresight or what could reasonably be expected to have been known</li>
                <li>significant decision-making power, responsibilities, influence and / or proximity to the decision-making</li>
                <li>holding a position of trust or being subject to professional duties</li>
              </ul>
            </li>
            <li>The assessment of the level of a person’s culpability is not simply a question of the number of culpability features engaged on a given set of facts, but also the level of engagement of any such features. The culpability of a person whose conduct involves three features moderately may be less culpable than that of a person whose conduct has engaged a single culpability feature significantly. For example, an intentional act by a person who misled others would likely attract high culpability.</li>
            <li>Examples of features of harm include:<br>
              <ul class="govuk-list govuk-list--bullet">
                <li>any negative impact on the scheme as a whole or any of its members</li>
                <li>whether the impact of the act is irreversible</li>
                <li>whether the act has resulted in an increased reliance on the employer covenant</li>
                <li>whether the act has increased the likelihood of compensation being payable by the Pension Protection Fund</li>
                <li>whether the act may pose a significant or systemic risk to our statutory objectives</li>
                <li>whether the act may undermine public confidence in pensions</li>
              </ul>
            </li>
            <li>As with the assessment of culpability, the degree of harm will be relevant to the banding of a person’s penalty, rather than simply counting the number of features of harm applicable on the facts. For example, an act that has resulted in the scheme employer entering administration with a significant deficit in the scheme made worse by the act would likely attract high harm.</li>
          </ol>
        </div>
      </section>

      <section class="anchorlocation" id="step-2-placement-within-the-band-aggravating-and-mitigating-factors">
        <h2>Step 2: Placement within the band aggravating and mitigating factors</h2>
        <div class="standardinformation">
          <ol class="govuk-list govuk-list--number" start="27">
            <li>The degree of culpability and harm will determine which band the penalty falls in. The starting point for the amount of any penalty will be the middle of the band (£0.25 million for Band HF1, £0.45 million for Band HF2, and £0.7 million for Band HF3). We may then adjust the placement within the band up or down, taking account of any relevant aggravating and mitigating factors that might be present.</li>

            <li>Example factors relevant to these specific penalties include:<br>
              <ul class="govuk-list govuk-list--bullet">
                <li>evidence of dishonesty, lack of integrity, fraud and / or deliberate concealment (aggravating)</li>

                <li>receipt of benefit or some other incentive as a result of the act (aggravating)</li>

                <li>close relationship with the scheme / employer (aggravating)</li>

                <li>absence of mitigation to the scheme (aggravating)</li>

                <li>mitigation provided to the scheme (mitigating)</li>

                <li>timeliness / proximity to act of provision of mitigation (aggravating or mitigating)</li>

                <li>extent of cooperation with us (aggravating or mitigating)</li>

                <li>evidence of previous acts or breaches that have or could have resulted in our imposing financial penalty (aggravating)</li>
              </ul>
            </li>

            <li>The above list may include some factors that are integral features of certain penalties. In such cases, the presence of the aggravating factor is already reflected in the rationale for the penalty and/or the assessment of degree of culpability and harm when determining the band level. As a result, it would not be used as justification for increasing the penalty further.</li>

            <li>The list is not intended to be comprehensive. Our assessment will consider any factor that is relevant, including any that may provide some mitigation for the person’s actions but may not reasonably excuse the conduct. The factors are not listed in any particular order of priority.</li>
          </ol>
        </div>
      </section>

    <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
      <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>Back to top
    </a>
    </div>
  </div>

{% endblock %}

{% block footer %}

  {% from "govuk/components/footer/macro.njk" import govukFooter %}

  {{ govukFooter({}) }}

{% endblock %}